@media only screen and (max-width: 768px){
    .header__item{
        height: 100%;
    }
    .logo__item{
        display: none;
    }
    .logo img{
        margin-left: 40%;
        padding-top: 25%;
    }
    .team__title1{
        display: grid;
        grid-template-columns: 100%;
    }
    .team__title2{
        display: grid;
        grid-template-columns: 100%;
    }
    .team__img1{
        margin-left: 15%;
        margin-bottom: -20%;
    }
    .team__img2{
        margin-left: -59%;
        margin-bottom: 15%;
    }
    .team__p{
        margin-left: -90%;
    }
    .team__img3{
        margin-left: 15%;
        margin-bottom: -25%;
    }
    .team__img4{
        margin-left: -59%;
        margin-bottom: -45%;
    }
    .footer__item{
        height: 130px;
    }
    .footer{
        padding-top: 10rem;
    }
    .social__media{
        padding-top: 10%;
        margin-left: 8%;
    }
    .footer__item h4{
        margin-left: 8%;
    }
}