@media only screen and (max-width: 768px){
    .header{
        width: 100%;
        height: 100%;
    }
    .logo__item{
        display: none;
    }
    .logo img{
        margin-left: 40%;
        padding-top: 25%;
    }
    .header__img{
        width: 100px;
        height: 100px;
    }
    .img__item1{
        margin-left: -40px; 
        gap: 0.5rem;
    }
    .img__item2{
        margin-left: 12px;
        gap: 0.5rem;
    }
    .header__title{
        margin-bottom: 3rem;
    }
    .footer__item{
        height: 130px;
    }
    .footer{
        padding-top: 10rem;
    }
    .social__media{
        padding-top: 10%;
        margin-left: 8%;
    }
    .footer__item h4{
        margin-left: 8%;
    }
}